@using DeviceSM1.Models.Table;
@model List<Alert>
@{
    ViewData["Title"] = "Rapphie";
}

<h2 style="opacity:0">@ViewData["Title"]</h2>
<div class="container-fluid content-wrapper">
    <div class="row mr-lg-3">
        <div class="col-lg-9 ml-lg-5">
            <div class="row m-lg-3 ">
                <div class="col-lg-4 col-md-4 mb-3 ">
                    <div class="panel dash-shadow rounded" style="background:#58E2ED">
                        <div class="panel-heading">
                            <div class="d-flex bd-highlight">
                                <div class="p-2 flex-fill bd-highlight ml-lg-3">
                                    <div class="h3 text-white ml-2 mb-3" id="pressure_value">00</div>
                                    <div class="text-white m-2">Pressure</div>
                                </div>
                                <div class="p-2 flex-fill mt-2 ">
                                    <img src="~/images/box_icon1.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <a href="" style="color: #e9edf1;text-align:center">
                            <div class="panel-footer dash-shadow rounded-bottom" style="background:#3BC4E6;">
                                <span class="home-icon">More Info</span>
                                <span class="home-icon"><i class="fa fa-arrow-circle-right"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mb-3 ">
                    <div class="panel dash-shadow rounded" style="background:#00A65A;">
                        <div class="panel-heading">
                            <div class="d-flex bd-highlight">
                                <div class="p-2 flex-fill bd-highlight ml-lg-3">
                                    <div class="h3 text-white ml-2 mb-3" id="temperature_value">00</div>
                                    <div class="text-white m-2">Temperature</div>
                                </div>
                                <div class="p-2 flex-fill ">
                                    <img src="~/images/box_icon2.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <a href="" style="color: #e9edf1;text-align:center">
                            <div class="panel-footer dash-shadow rounded-bottom" style="background:#00964F;">
                                <span class="home-icon">More Info</span>
                                <span class="home-icon"><i class="fa fa-arrow-circle-right"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mb-3">
                    <div class="panel dash-shadow rounded" style="background:#FF8500;">
                        <div class="panel-heading">
                            <div class="d-flex bd-highlight">
                                <div class="p-2 flex-fill bd-highlight ml-lg-3">
                                    <div class="h3 text-white ml-2 mb-3" id="humidity_value">00</div>
                                    <div class="text-white m-2">Humidity</div>
                                </div>
                                <div class="p-2 flex-fill ">
                                    <img src="~/images/box_icon3.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <a href="" style="color: #e9edf1;text-align:center">
                            <div class="panel-footer dash-shadow rounded-bottom" style="background:#cc8b15;">
                                <span class="home-icon">More Info</span>
                                <span class="home-icon"><i class="fa fa-arrow-circle-right"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row m-lg-3 ">
                <div class="col-lg-4 col-md-4 mb-3 ">
                    <div class="panel dash-shadow rounded" style="background:#58E2ED">
                        <div class="panel-heading">
                            <div class="d-flex bd-highlight">
                                <div class="p-2 flex-fill bd-highlight ml-lg-3">
                                    <div class="h3 text-white ml-2 mb-3" id="moisture_value">00</div>
                                    <div class="text-white m-2">Moisture</div>
                                </div>
                                <div class="p-2 flex-fill ">
                                    <img src="~/images/box_icon4.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <a href="" style="color: #e9edf1;text-align:center">
                            <div class="panel-footer dash-shadow rounded-bottom" style="background:#3BC4E6;">
                                <span class="home-icon">More Info</span>
                                <span class="home-icon"><i class="fa fa-arrow-circle-right"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mb-3 ">
                    <div class="panel dash-shadow rounded" style="background:#00A65A;">
                        <div class="panel-heading">
                            <div class="d-flex bd-highlight">
                                <div class="p-2 flex-fill bd-highlight ml-lg-3">
                                    <div class="h3 text-white ml-2 mb-3" id="liquid_value">00</div>
                                    <div class="text-white m-2"><span>Liquid</span><span style="opacity:0">1</span><span>flow</span> </div>
                                </div>
                                <div class="p-2 flex-fill ">
                                    <img src="~/images/box_icon5.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <a href="" style="color: #e9edf1;text-align:center">
                            <div class="panel-footer dash-shadow rounded-bottom" style="background:#00964F;">
                                <span class="home-icon">More Info</span>
                                <span class="home-icon"><i class="fa fa-arrow-circle-right"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mb-3">
                    <div class="panel dash-shadow rounded" style="background:#FF8500;">
                        <div class="panel-heading">
                            <div class="d-flex bd-highlight">
                                <div class="p-2 flex-fill bd-highlight ml-lg-3">
                                    <div class="h3 text-white ml-2 mb-3" id="co2_value">00</div>
                                    <div class="text-white m-2">CO2</div>
                                </div>
                                <div class="p-2 flex-fill ">
                                    <img src="~/images/box_icon6.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <a href="" style="color: #e9edf1;text-align:center">
                            <div class="panel-footer dash-shadow rounded-bottom" style="background:#cc8b15;">
                                <span class="home-icon">More Info</span>
                                <span class="home-icon"><i class="fa fa-arrow-circle-right"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row my-3 ml-lg-3 mr-lg-1 mt-lg-5">
                <div class="col-md-12">
                    <table id="tblAlert" class="table table-sm table-bordered dash-shadow">
                        <thead class="text-white" style="background-color: #45a783;">
                            <tr>
                                <td width="8%" align="center" valign="middle">Alert<br /> No</td>
                                <td width="10%" align="center" valign="middle">Location</td>
                                <td width="11%" align="center" valign="middle">IMEI</td>
                                <td width="10%" align="center" valign="middle">Customer Name</td>
                                <td width="10%" align="center" valign="middle">Time</td>
                                <td width="20%" align="center" valign="middle">Alert Type</td>
                                <td align="center" valign="middle">Device<br>Command</td>
                                <td width="9%" align="center" valign="middle">Server Reply</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Alert in Model)
                            {
                                <tr id="@Alert.Id">
                                    <td></td>
                                    <td>@Alert.Sensor.Device.Location.Name</td>
                                    <td>@Alert.Log.IMEI</td>
                                    <td>@Alert.Sensor.Device.User.UserName</td>
                                    <td>@Alert.Log.Timestamp</td>
                                    <td>@Alert.Sensor.SensorType.Name</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/css/right_slide_menu.css" rel="stylesheet" />
    <link href="~/plugins/dataTables/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/plugins/dataTables/select.dataTables.min.css" rel="stylesheet" />
}

@section Scripts  {
    <script src="~/plugins/jquery/dist/jquery.min.js"></script>
    <script src="~/plugins/dataTables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/dataTables/dataTables.select.min.js"></script>
    <script src="~/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/Home/index.js"></script>
}