@using DeviceSM1.Models.Table;
@model List<Device>
@{
    ViewData["Title"] = "Device List";
}

<div class="container-fluid content-wrapper ">

    <div class="row justify-content-between m-lg-5">
        <div class="col-4">
            <h3 class="m-3" style="font-weight:500">Device<span style="opacity:0">0</span>List</h3>
        </div>

    </div>
    <div class="row my-3 m-lg-5 ">
        <div class="col-md-12 ">
            <div class="table-responsive">
                <table id="device-list" class="display table-sm table-bordered" style="width:100%">
                    <thead style="background:#209E93">
                        <tr>
                            <th></th>
                            <th>No.</th>
                            <th>IMEI</th>
                            <th>Customer</th>
                            <th>Sim Card</th>
                            <th>Location</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Device in Model)
                        {
                            <tr data-id="@Device.Id">
                                <td><input type="checkbox" /></td>
                                <td></td>
                                <td>@Device.IMEI</td>
                                <td>@Device.User.UserName</td>
                                <td>@Device.SIMCard</td>
                                <td>@Device.Location.Name</td>
                                <td>@Device.Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row justify-content-end mt-md-5  ">
        <div style="margin-right:5%">
            <button id="device_add" class="btn-other btn-sm btn-w"> <i class=" fa fa-plus-circle btn_i"></i>Add</button>
            <span style="opacity:0">0000</span>
            <button id="device_edit" class="btn-other btn-sm btn-w"> <i class=" fa fa-edit btn_i"></i>Edit</button>
            <span style="opacity:0">0000</span>
            <button id="device_delete" class="btn-other btn-sm btn-w"> <i class=" fa fa-trash-alt btn_i"></i>Delete</button>
        </div>
    </div>

</div>

<div id="detailModal" class=" modal " role="dialog">
    <div class="modal-dialog madiamodal">
        <div class="modal-content">
            <div class="modal-body">
                <div class="table-responsive mt-5 mb-3">
                    <table id="device_head" class="display table-sm table-bordered" style="width:100%;text-align:center">
                        <thead style="background:#209E93">
                            <tr>
                                <th>IMEI</th>
                                <th>Customer</th>
                                <th>Sim Card</th>
                                <th>Location</th>
                                <th>Type</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table id="sensor_list" class="display table-sm table-bordered" style="width:100%;text-align:center">
                        <thead style="background:#209E93">
                            <tr>
                                <th>No</th>
                                <th>Sensor Type</th>
                                <th>Serial Number</th>
                                <th>High Threshold</th>
                                <th>Low Threshold</th>
                                <th>Relay</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-add" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal " id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog delete">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Remove customer</h5>
            </div>
            <div class="modal-body" style="padding:15px;">
                <h4 style="text-align:center">Do you really want to remove device?</h4>
            </div>
            <div class="modal-footer footer">
                <button type="button" id="rowDelete" class="modal-btn" data-dismiss="modal">Yes</button>
                <button type="button" class="modal-btn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/plugins/dataTables/jquery.dataTables.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/plugins/jquery/dist/jquery.min.js"></script>
    <script src="~/plugins/dataTables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/Device/index.js"></script>
}
