@using DeviceSM1.Models.Table
@model dynamic
@{
    ViewData["Title"] = "Profile";
    var device = new Device();
}

<div class="container-fluid content-wrapper ">
    <div class="m-sm-5">
        <div class="d-flex justify-content-start ml-sm-3 ">
            <h3 class="" style="font-weight: 500;">Device<span style="opacity:0">0</span>Detail</h3>
        </div>
    </div>
    <form asp-controller="Device" asp-action="UpdateDevice" id="add_device" class="needs-validation" novalidate>
        <input type="hidden" asp-for="@device.Id" value="@Model.Device.Id" />
        <div id="device-detail-wrapper" class="row ml-0 mt-3 ml-sm-5">
            <div class="col-md-12 col-sm-10 ">
                <div class="row mt-sm-1">
                    <div class="col-md-4">
                        <div class="form-group row m-lg-3">
                            <label class="col-form-label "><i class="fas fa-assistive-listening-systems profile-icon"></i></label>
                            <div class="col-7">
                                <div class="md-form mt-3">
                                    <input type="number" asp-for="@device.IMEI" value="@Model.Device.IMEI" class="form-control" id="device_IMEI" placeholder="IMEI" required="required">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row m-lg-3">
                            <label class="col-form-label "><i class="fas fa-user profile-icon"></i></label>
                            <div class="col-7">
                                <select asp-for="@device.UserId" class="mdb-select" id="device_customer" required="required" searchable="Search here..">
                                    <option value="" disabled selected>User</option>
                                    @foreach (var User in Model.Users)
                                    {
                                        if (User.Id == Model.Device.UserId)
                                        {
                                            <option value="@User.Id" selected>@User.UserName</option>
                                        }
                                        else
                                        {
                                            <option value="@User.Id">@User.UserName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ml-auto">
                        <div class="form-group row m-lg-3">
                            <label class="col-form-label "><i class="fas fa-passport profile-icon"></i></label>
                            <div class="col-7">
                                <div class="md-form mt-3">
                                    <input type="number" asp-for="@device.SIMCard" value="@Model.Device.SIMCard" class="form-control" id="device_simNo" placeholder="SIM Card" required="required">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-sm-1">
                    <div class="col-md-4">
                        <div class="form-group row m-lg-3">
                            <label class="col-form-label "><i class="fas fa-map-marker-alt profile-icon"></i></label>
                            <div class="col-7 device_location_wrapper">
                                <select asp-for="@device.LocationId" class="mdb-select" id="device_location" required="required" searchable="Search here..">
                                    <option value="" disabled selected>Location</option>
                                    @foreach (var Location in Model.Locations)
                                    {
                                        @if (Location.Id == Model.Device.LocationId)
                                        {
                                            <option value="@Location.Id" selected>@Location.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@Location.Id">@Location.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row m-lg-3">
                            <label class="col-form-labels"><i class="fas fa-arrow-circle-right profile-icon"></i></label>
                            <div class="col-7">
                                <select class="mdb-select" asp-for="@device.DeviceTypeId" value="@Model.Device.DeviceType.Name" id="device_type" searchable="Search here..">
                                    <option value="" disabled selected>Type</option>
                                    @foreach (var DeviceType in Model.DeviceTypes)
                                    {
                                        if (DeviceType.Id == Model.Device.DeviceTypeId)
                                        {
                                            <option value="@DeviceType.Id" selected>@DeviceType.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@DeviceType.Id">@DeviceType.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ml-auto">
                        <div class="form-group row m-lg-3">
                            <label class="col-form-label "><i class="fas fa-toggle-on profile-icon"></i></label>
                            <div class="col-7">
                                <div class="md-form mt-3">
                                    <input type="number" asp-for="@device.Status" value="@Model.Device.Status" class="form-control" id="device_status" placeholder="Status" required="required">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content  editor_table ">
            <div class="head_sensor_no">No. </div>
            <div class="head_sensor">Sensor Type</div>
            <div class="head_sensor">Serial Number</div>
            <div class="head_sensor">High Threshold </div>
            <div class="head_sensor">Low Threshold </div>
            <div class="head_sensor_no">Relay </div>

            <div class="table_sensor_no"><input type="hidden" asp-for="@device.Sensors[0].SensorTypeId" value="1" />1</div>
            <div class="table_sensor">Pressure</div>
            <div class="table_sensor"> <input type="number" step="1" class="form-controll" asp-for="@device.Sensors[0].SerialNumber" value="@Model.Device.Sensors[0].SerialNumber" /></div>
            <div class="table_sensor"> <input type="number" step="0.1" class="form-controll" asp-for="@device.Sensors[0].HighThreshold" value="@Model.Device.Sensors[0].HighThreshold" /></div>
            <div class="table_sensor"> <input type="number" step="0.1" class="form-controll" asp-for="@device.Sensors[0].LowThreshold" value="@Model.Device.Sensors[0].LowThreshold" /></div>
            <div class="table_sensor_no"> <input type="checkbox" class="form-control" asp-for="@device.Sensors[0].RelayOperation" value="@Model.Device.Sensors[0].RelayOperation" /></div>

            <div class="table_sensor_no"><input type="hidden" asp-for="@device.Sensors[1].SensorTypeId" value="2" />2</div>
            <div class="table_sensor">Temperature</div>
            <div class="table_sensor"> <input type="number" step="1" class="form-controll" asp-for="@device.Sensors[1].SerialNumber" value="@Model.Device.Sensors[1].SerialNumber" /></div>
            <div class="table_sensor"> <input type="number" step="0.1" class="form-controll" asp-for="@device.Sensors[1].HighThreshold" value="@Model.Device.Sensors[1].HighThreshold" /></div>
            <div class="table_sensor"> <input type="number" step="0.1" class="form-controll" asp-for="@device.Sensors[1].LowThreshold" value="@Model.Device.Sensors[1].LowThreshold" /></div>
            <div class="table_sensor_no"> <input type="checkbox" class="form-control" asp-for="@device.Sensors[1].RelayOperation" value="@Model.Device.Sensors[1].RelayOperation" /></div>

            <div class="table_sensor_no"><input type="hidden" asp-for="@device.Sensors[2].SensorTypeId" value="3" />3</div>
            <div class="table_sensor">Humidity</div>
            <div class="table_sensor"> <input type="number" step="1" class="form-controll" asp-for="@device.Sensors[2].SerialNumber" value="@Model.Device.Sensors[2].SerialNumber" /></div>
            <div class="table_sensor"> <input type="number" step="0.1" class="form-controll" asp-for="@device.Sensors[2].HighThreshold" value="@Model.Device.Sensors[2].HighThreshold" /></div>
            <div class="table_sensor"> <input type="number" step="0.1" class="form-controll" asp-for="@device.Sensors[2].LowThreshold" value="@Model.Device.Sensors[2].LowThreshold" /></div>
            <div class="table_sensor_no"> <input type="checkbox" class="form-control" asp-for="@device.Sensors[2].RelayOperation" value="@Model.Device.Sensors[2].RelayOperation" /></div>

            <div class="table_sensor_no"><input type="hidden" asp-for="@device.Sensors[3].SensorTypeId" value="4" />4</div>
            <div class="table_sensor">Moisture</div>
            <div class="table_sensor"> <input type="number" step="1" class="form-controll" asp-for="@device.Sensors[3].SerialNumber" value="@Model.Device.Sensors[3].SerialNumber" /></div>
            <div class="table_sensor"> <input type="number" step="0.1" class="form-controll" asp-for="@device.Sensors[3].HighThreshold" value="@Model.Device.Sensors[3].HighThreshold" /></div>
            <div class="table_sensor"> <input type="number" step="0.1" class="form-controll" asp-for="@device.Sensors[3].LowThreshold" value="@Model.Device.Sensors[3].LowThreshold" /></div>
            <div class="table_sensor_no"> <input type="checkbox" class="form-control" asp-for="@device.Sensors[3].RelayOperation" value="@Model.Device.Sensors[3].RelayOperation" /></div>
            <div class="table_sensor_no"><input type="hidden" asp-for="@device.Sensors[4].SensorTypeId" value="5" />5</div>
            <div class="table_sensor">Liquid Flow</div>
            <div class="table_sensor"> <input type="number" step="1" class="form-controll" asp-for="@device.Sensors[4].SerialNumber" value="@Model.Device.Sensors[4].SerialNumber" /></div>
            <div class="table_sensor"> <input type="number" step="0.1" class="form-controll" asp-for="@device.Sensors[4].HighThreshold" value="@Model.Device.Sensors[4].HighThreshold" /></div>
            <div class="table_sensor"> <input type="number" step="0.1" class="form-controll" asp-for="@device.Sensors[4].LowThreshold" value="@Model.Device.Sensors[4].LowThreshold" /></div>
            <div class="table_sensor_no"> <input type="checkbox" class="form-control" asp-for="@device.Sensors[4].RelayOperation" value="@Model.Device.Sensors[4].RelayOperation" /></div>

            <div class="table_sensor_no"><input type="hidden" asp-for="@device.Sensors[5].SensorTypeId" value="6" />6</div>
            <div class="table_sensor">CO2</div>
            <div class="table_sensor"> <input type="number" step="1" class="form-controll" asp-for="@device.Sensors[5].SerialNumber" value="@Model.Device.Sensors[5].SerialNumber" /></div>
            <div class="table_sensor"> <input type="number" step="0.1" class="form-controll" asp-for="@device.Sensors[5].HighThreshold" value="@Model.Device.Sensors[5].HighThreshold" /></div>
            <div class="table_sensor"> <input type="number" step="0.1" class="form-controll" asp-for="@device.Sensors[5].LowThreshold" value="@Model.Device.Sensors[5].LowThreshold" /></div>
            <div class="table_sensor_no"> <input type="checkbox" class="form-control" asp-for="@device.Sensors[5].RelayOperation" value="@Model.Device.Sensors[5].RelayOperation" /></div>
        </div>

        <div class="row justify-content-end mt-md-5  ">
            <div style="margin-right:5%">
                <button type="submit" id="device_Save" class="btn-other btn-sm btn-w"> <i class=" fa fa-save btn_i"></i>Save</button>
                <span style="opacity:0">0000</span>
                <button type="button" id="device_Cancel" class="btn-other btn-sm btn-w"> <i class=" fa fa-eraser btn_i"></i>Cancel</button>
            </div>
        </div>
    </form>

</div>

@section Styles {
    <link href="~/plugins/mdbootstrap/css/mdb.min.css" rel="stylesheet" />
}


@section Scripts {
    <script src="~/plugins/jquery/dist/jquery.min.js"></script>
    <script src="~/plugins/mdbootstrap/js/mdb.min.js"></script>
    <script src="~/plugins/mdbootstrap/js/modules/material-select.js"></script>

    <script src="~/plugins/dataTables/jquery.dataTables.min.js"></script>
    <script src="~/js/Device/Update.js"></script>
}

