
@using DeviceSM1.Mysqlconnect;
@using System.Data;
@model DataTable
@{
    DataTable data = (DataTable)ViewData["userInfo"];
    var success = ViewData["success"];

  
}

<script>
    window._data_rows = @Html.Raw(Json.Serialize(data.Rows));
    if (window._data_rows.length > 0) {
        window._data_rows = window._data_rows[0]['table'];
    }
</script>

<div class="container-fluid content-wrapper ">
    <div class="row justify-content-between m-lg-5">
        <div class="col-4">
            <h3 class="m-3" style="font-weight:500"> Customer<span style="opacity:0">0</span>List</h3>
        </div>
    </div>
    <div class="row my-3 m-lg-5 ">
        <div class="col-md-12 ">
            <div class="table-responsive">
                <table id="customer-list" class="display table-sm table-bordered" style="width:100%">
                    <thead style="background:#209E93">
                        <tr>
                            <th></th>
                            <th>No.</th>
                            <th>User Name</th>
                            <th>E-mail</th>
                            <th>Address</th>
                            <th>Company</th>
                            <th>Contact Person</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow item in data.Rows)
                        {
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>@item["id"]</td>
                                <td>@item["name"]</td>
                                <td>@item["email"]</td>
                                <td>@item["address"]</td>
                                <td>@item["company"]</td>
                                <td>@item["contactperson"]</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row justify-content-end mt-md-5  ">
        <div style="margin-right:5%">
            <button id="customers_add"  class="btn-other btn-sm btn-w" > <i class=" fa fa-plus-circle btn_i"></i>Add</button>
            <span style="opacity:0">0000</span>
            @*<button id="customers_edit" class="btn-other btn-sm btn-w"> <i class=" fa fa-edit btn_i"></i>Edit</button>*@
            <span style="opacity:0">0000</span>
            <button id="customers_delete" class="btn-other btn-sm btn-w"> <i class=" fa fa-trash-alt btn_i"></i>Delete</button>
        </div>
    </div>

</div>

<div id="myModal" class=" modal " role="dialog">
    <div class="modal-dialog madiamodal">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <div class="table-responsive mt-5 mb-3">
                    <table id="he"class="display table-sm table-bordered" style="width:100%;text-align:center">

                        <thead style="background:#209E93">
                            <tr>
                                <th>User Name</th>
                                <th>E-mail</th>
                                <th>Address</th>
                                <th>Company</th>
                                <th>Contact Person</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table id="customer-device" class="display table-sm table-bordered" style="width:100%;text-align:center">
                        <thead style="background:#209E93">
                            <tr>
                                <th>No</th>
                                <th>IMEL</th>
                                <th>Sim Card</th>
                                <th>Location</th>
                                <th>Vehicle</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (DataRow item in modal_data.Rows)
                            {
                                <tr>
                                    <td>@item["id"]</td>
                                    <td>@item["IMEI"]</td>
                                    <td>@item["sim_card"]</td>
                                    <td>@item["location"]</td>
                                    <td>@item["vehicle"]</td>
                                    <th>@item["status"]</th>
                                </tr>
                            }*@
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-add" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal " id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog delete">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Remove customer</h6>
            </div>
            <div class="modal-body" style="padding:15px;">
                <h5 style="text-align:center">Do you really want to remove customer?</h5>
            </div>
            <div class="modal-footer footer">
                <button type="button" id="rowDelete" class="modal-btn" data-dismiss="modal">Yes</button>
                <button type="button" class="modal-btn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/plugins/dataTables/jquery.dataTables.min.css" rel="stylesheet" />

}


@section Scripts {
    <script src="~/plugins/jquery3.3.1/dist/jquery.min.js"></script>
    <script src="~/plugins/dataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#customer-list').DataTable({
            });
            var table = $('#customer-device').DataTable({
            });

            $('#customer-list tbody').on('click', 'tr', function (event) {
                var $tr = $(event.target).closest("tr");
                var id = $tr.find("td:nth-child(2)").text();
                var row_data = {};
                for (var i = 0; i < window._data_rows.length; i++) {
                    if (window._data_rows[i]["id"] != id) {
                        continue;
                    }
                    else {
                        row_data = window._data_rows[i];
                        break;
                    }
                }
                     
                $.ajax({
                    type: 'GET',
                    url: '/customers/modal?id=' + id,
                    success: function (xhr, status, response) {
                         var user_data = xhr.user_Info;
                         var tbody_str = "<tr>";
                            tbody_str += "<td>" + user_data[0]["name"]+"</td>";
                            tbody_str += "<td>" + user_data[0]["email"]+"</td>";
                            tbody_str += "<td>" + user_data[0]["address"] + "</td>";
                            tbody_str += "<td>" + user_data[0]["company"] + "</td>";
                            tbody_str += "<td>" + user_data[0]["contactperson"] + "</td>";
                         tbody_str += "</tr>";
              
                        $("#he tbody").html(tbody_str);
                      

                     var tbody_str = "";
                        var device_data = xhr.device_Info;
                    
                        device_data.forEach(rows => {
                            var tbody_strs = "<tr>";
                            tbody_str += "<td>" + rows["id"] + "</td>";
                            tbody_str += "<td>" + rows["IMBI"] + "</td>";
                            tbody_str += "<td>" + rows["sim_card"] + "</td>";
                            tbody_str += "<td>" + rows["location_id"] + "</td>";
                            tbody_str += "<td>" + rows["vehicle"] + "</td>";
                            tbody_str += "<td>" + rows["status"] + "</>";
                            tbody_str += "</tr>";
                        });
                   
                        $("#customer-device tbody").html(tbody_str);
     
                    }
                });
                event.preventDefault();
                $("#myModal").modal();
            });

            $('input[type="checkbox"]').on('click', function (event) {
                var $tr = $(event.target).closest("tr");
                var id = $tr.find("td:nth-child(2)").text();
                if (event.target.checked) {
                    var $tb_customerList = $("table#customer-list");
                    var $checked_inputs = $tb_customerList.find("input[type='checkbox']:checked");
                    for (var i = 0; i < $checked_inputs.length; i++) {
                        if ($checked_inputs[i] == event.target) {
                            continue;
                        }
                       $checked_inputs[i].checked = false;
                    }
                }
                event.stopPropagation();
                $('#rowDelete').click(function () {
                    $.ajax({
                        type: 'POST',
                        url: '/customers/Delecte?id=' + id,
                        success: function (result) {

                        }
                    });
                });
            });
            $('#customers_delete').click(function () {
                var $tb_customerList = $("table#customer-list");
                var $checked_inputs = $tb_customerList.find("input[type='checkbox']:checked");
                if ($checked_inputs.length == 0) {
                    alert("No customer is selected!");
                    return;
                }
                $("#deleteModal").modal();

            });

                       
            $('#customers_add').click(function () {
                window.location = "/customers/create";
            });
            $('#customers_edit').click(function () {
                window.location = "/customers/create";
            });
            
        });

    </script>

}
